@using CardGame.Models

@if (Act != null)
{
    <div id="act-container" @onclick="SetCardVisible">
        <div class="title">Act</div>
        <div class="current-no">@Act.SequenceNo</div>
    </div>

    @if (CardVisible)
    {
        <div class="modal-overlay">
            <div class="horizontal-card">
                <div class="act-content left">
                    <div class="act-number">Act @Act.SequenceNo</div>
                    <div class="act-title">@Act.Title</div>
                    <div class="act-description">@Act.Description<div class="act-tokens-required">@Act.RequiredTokens</div></div>
                </div>
                <div class="act-main-image left"></div>
                <div class="clear"></div>
                <div class="close-modal-button selectable" @onclick="SetCardHidden">X</div>
            </div>
        </div>
    }
}

@code {
    [Parameter]
    public Act Act { get; set; }

    private bool CardVisible = false;

    private void SetCardVisible()
    {
        CardVisible = true;
    }

    private void SetCardHidden()
    {
        CardVisible = false;
    }
}
